<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>
	<div class="header">
		<div class="container">
			Header
		</div>
	</div>
	{{{body}}}
	<div class="footer">
		<div class="container">
			Footer
		</div>
	</div>
  </body>
</html>
